a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
.icons{
  /*Use flex to position divs*/
  /*border: 2px solid red;*/
  display: flex;
  justify-content: space-evenly;
}
.iconcol1, .iconcol2{
  /*border: 2px solid red;*/
  text-align: center;
  font-family: 'Amiko', sans-serif;
  font-size: 150px;
}
.icontext:hover{
  color:#0061ff;
}
