/*TODO: Improve device compatibility*/
/*--navigationbar--*/
body{
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
/*Fills text underneath the navbar at the top of the screen to make it easier to position divs*/
.placeholder{
  position: relative;
  height: 74px;
  width:100vw;
}
#navbar{
  background-color: black;
  position: fixed;
  height: 75px;
  width:100vw;
}
/*Navigation bar text settings*/
.navtext{
  /*configure text settings*/
  color: #afafaf;
  font-family: 'Amiko', sans-serif;
  text-align: center;
}
/*dropdown main div*/
.dropdown{
  min-width: 170px;
  display: inline-block;
  float: right;
  margin-right: 5vw;
}
/*Settings for block inside dropdown*/
.dropdowncontent {
  /*border: 2px solid white;*/
  position: relative;
  display: none;
  background-color: black;
  font-size: 18px;
  min-height: 125px;
  z-index: 3;
}
/*Hover behavior*/
#hudsonintro:hover, #projects:hover, #contact:hover{
  /*border: 2px solid white;*/
  cursor: pointer;
}
#hudsonintro:hover{
  color: #0061ff;
}
#contact:hover, #projects:hover, #completed:hover, #planned:hover, #inprogress:hover{
  color: white;
}
.dropdown:hover .dropdowncontent{
  display: block;
}

/*Positioning*/
#hudsonintro{
  margin-left: 10vw;
  float: left;
  font-size: 25px;
}
#contact, #projects{
  font-size: 25px;
}
#contact{
  float: right;
  margin-right: 10vw;
}
#planned{
  padding-right: 26px;
}
/*Optimize for mobile screens*/
@media only screen and (max-width: 1000px) {
  #contact{
    margin-right: 2vw;
  }
  #hudsonintro{
    margin-left: 2vw;
  }
  .dropdown{
    margin-right: 2vw;
  }
  .dropdowncontent{
    margin-top: -2px;
  }
}

/*--Bottom space--*/
.bottomspace{
  height:100px;
  width:100vw;
}
#bottomback{
  background-color: black;
}
