/*--navigationbar--*/
#navbar{
  position:fixed;
  height: 75px;
  width:100vw;
}
a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
/*Navigation bar text settings*/
.navtext{
  /*configure text settings*/
  color: #afafaf;
  font-family: 'Amiko', sans-serif;
}

#hudsonintro, #projects, #whoami, #contact{
  /*border: 2px solid white;*/
}
#hudsonintro{
  margin-left: 20vw;
  float: left;
  font-size: 25px;
}
#hudsonintro:hover{
  color: #0061ff;
}
#contact, #whoami, #projects{
  float: right;
  font-size: 25px;
}
#contact:hover, #whoami:hover, #projects:hover{
  color: white;
}
#contact{
  margin-right: 20vw;
}
#whoami{
  margin-right: 50px;
}
#projects{
  margin-right: 50px;
}
