a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
.project-grid{
  /*border: 2px solid red;*/
  display: flex;
}
.projectcol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}
/*column-specific settings*/
#pcol1{
  /*border: 2px solid red;*/
  color: white;
  background-color: #0061ff;
}
#pcol2{
  color: #0061ff;
  background-color: white;
}
#pcol3{
  color: white;
  background-color: black;
}
/*Configure hover settings*/
#goblue:hover{
  color: #afafaf;
}
#gowhite:hover{
  color: #0045b7;
}
#goblack:hover{
  color: #afafaf;
}
/*Optimize for mobile*/
@media (max-width: 1000px) {
  .project-grid{
    display: block;
  }
  /*Make the height smaller as it will display using the block setting*/
  #pcol1, #pcol2, #pcol3{
    margin-top: -2px;
  }
  #copyback{
    margin-top: -2px;
  }
}
/*Optimize for large screens*/
@media (min-height: 1000px) and (min-width:1000px){
  #pcol1, #pcol2, #pcol3{
    height: 60vh;
  }
}
/*header text*/
.phead{
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}
.psmall{
  width: 60%;
  margin: auto;
  font-size: 22px;
  font-family: 'Amiko', sans-serif;
}
/*"Feel free to copy me" background*/
#copyback{
  background-color: black;
}
/*Contact me text*/
#contacttext{
  text-decoration: underline;
}
/*contact me hover settings*/
#contacttext:hover{
  color: #afafaf;
}
/*completed, in progress, planned page*/

/*Project block settings*/
.projblock{
  width: 100vw;
  /* -300px to allow the other element to fit in nicely,
     100px for each project banner
  */
  height: calc(100vh - 300px + 400px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/*Project column settings*/
.projcol{
  color: white;
  border-radius: 10px;
  background-color: black;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*Project column hover settings*/
.projcol:hover{
  background-color: #1c1c1c;
  cursor: pointer;
}
/*Planned column hover settings*/
.plannedcol:hover{
  background-color: black;
  cursor: auto;
}
/*Project column text settings*/
.ptext{
  margin-left: 10px;
  margin-right: 10px;
  font-size : 30px;
  font-family: 'Amiko', sans-serif;
}

/*Project column date text settings*/
.pdate{
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  font-size : 15px;
  font-family: 'Amiko', sans-serif;
}
