a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}
.project-grid{
  /*border: 2px solid red;*/
  display: flex;
}
.projectcol{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  text-align: center;
}
/*column-specific settings*/
#pcol1{
  /*border: 2px solid red;*/
  color: white;
  background-color: #0061ff;
}
#pcol2{
  color: #0061ff;
  background-color: white;
}
#pcol3{
  color: white;
  background-color: black;
}
/*Configure hover settings*/
#goblue:hover{
  color: #afafaf;
}
#gowhite:hover{
  color: #004ac6;
}
#goblack:hover{
  color: #afafaf;
}
/*Optimize for mobile*/
@media (max-width: 1000px) {
  .project-grid{
    display: block;
  }
  /*Make the height smaller as it will display using the block setting*/
  #pcol1, #pcol2, #pcol3{
    margin-top: -2px;
  }
  #copyback{
    margin-top: -2px;
  }
}
/*Optimize for large screens*/
@media (min-height: 1000px) and (min-width:1000px){
  #pcol1, #pcol2, #pcol3{
    height: 60vh;
  }
}
/*header text*/
.phead{
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
}
.psmall{
  width: 60%;
  margin: auto;
  font-size: 22px;
  font-family: 'Amiko', sans-serif;
}
/*"Feel free to copy me" background*/
#copyback{
  background-color: black;
}
