/*Project-specific CSS elements*/
body{
  margin: 0;
  padding: 0;
}
a{
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

/*Github link*/
.gitcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .gitcontainer{
        flex-direction: column;
    }
}

#gitback{
    background-color: black;
}
.gittext{
    margin-top: 22px;
    margin-bottom: 22px;
    white-space: nowrap;
    color: #afafaf;
    font-size: 22px;
    font-family: 'Amiko', sans-serif;
}
#gitlink:hover{
    color: white;
}
/*Description text*/
.desccontainer{
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.desctext{
    line-height: 2;
    font-size: 22px;
    font-family: 'Amiko', sans-serif;
}
.desclink{
    text-decoration: underline;
}
.desclink:hover{
    color: #1c1c1c;
}
