body{
  margin: 0;
  padding: 0;
}

/*--page 1--*/
#particles-js{
  height: 100vh;
  background-color: #262626;
}
.page1text{
  /*configure text settings*/
  position: absolute;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  text-align: center;
}
/*header div*/
#headerblock{
  /*set up dimensions*/
  height: 60vh;
  width: 100vw;
  /*set up position*/
  margin-top: 20vh;
}
/*Down arrow div*/
#arrowdown{
  margin-top: 90vh;
  width: 100vw;
}

/*--section 2--*/
#info1{
  height:250px;
  width:100vw;
  background-color:#0061ff;
}
#text1{
  position:absolute;
}
/*--section 3--*/
#info2{
  height:500px;
  width:100vw;
  background-color:#ffffff;
}
#text2{
  position:absolute;
}
