@font-face {
  font-family: Poppins
  src: url(../fonts/Poppins-Regular.otf);

  font-family: Poppins-Bold;
  src: url(../fonts/Poppins-Bold.otf);
}
body{
  margin: 0;
  padding: 0;
}

/*--navigationbar--*/
#navbar{
  height: 50px;
  width:100vw;
  background: rgba(255, 255, 255, 0.2);
}
.navigation{
  /*configure text settings*/
  position:fixed;
  color: white;
}


/*--page 1--*/
#particles-js{
  height: 100vh;
  background-color: #262626;
}
/*header div*/
#headerblock{
  /*set up dimensions*/
  height: 60vh;
  width: 100vw;
  /*set up position*/
  margin-top: 15vh;
}
.header{
  /*configure text settings*/
  position: absolute;
  color: white;
  font-family: Poppins-Bold;
  font-size: 50px;
  text-align: center;
}
.arrowdown{
  margin-top: 15vh;
}

/*--section 2--*/
#info1{
  height:250px;
  width:100vw;
  background-color:#0061ff;
}
#text1{
  position:absolute;
}
/*--section 3--*/
#info2{
  height:500px;
  width:100vw;
  background-color:#ffffff;
}
#text2{
  position:absolute;
}
